::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #16181c;
}

::-webkit-scrollbar-thumb {
  background-color: #1d9bf0;
  filter: blur(2px);
}

body {
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  margin: 0%;
}

input {
  border: none;
  background: transparent;
  outline: none;
}

button {
  border: none;
  outline: none;
  color: white;
  background: transparent;
  padding: 0%;
}

a {
  color: #d6d9db;
  text-decoration: none;
}

a:hover {
  color: #d6d9db;
}

header {
  height: 100vh;
width: 402px;
display: flex;
flex-direction: column;
  align-items: flex-end;

}

.font-20px {
  font-size: 20px;
}

.font-w {
  font-weight: 700;
}

.p-12px {
  padding: 12px;
}

.px-12px {
  padding: 0px 12px;
}

.px-16px {
  padding: 0px 16px;
}

.banner {
  flex: 0 0 auto;
  width: 275px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.logo-div {
  height: 50px;
  width: 50px;
  padding: 0.3rem 0.8rem;
}

.logo-div svg {
  fill: #d6d9db;
  height: 30px;
  width: 50px;
}

.svg-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav svg {
  fill: #d6d9db;
  height: 26.25px;
  width: 26.25px;
}

nav a {
  height: 58px;
  width: 251;
}

.sayfa-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 26.25;
  padding: 12px 12px;
  width: max-content;
  height: max-content;
  border-radius: 3rem;
  transition: background-color 0.2s;
}

.sayfa-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sayfa-link .sayfa-isim {
  padding-left: 20px;
  padding-right: 16px;
  font-size: 1.2rem;
  line-height: 0%;
}

.icon-div {
  line-height: 0%;
}

.tweet-btn {
  height: 52px;
  width: 225.9px;
  border-radius: 2rem;
  font-size: 1rem;
  background: #1d9bf0;
}

.banner-prof {
  flex: 0 0 auto;
  width: 100%;
  margin: 12px 0;
}

.banner-prof:hover {
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 2rem;
}

.banner-prof-alt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.banner-prof .prof-rsm {
  flex: 0 0 auto;
  width: max-content;
}

.banner-prof .prof-rsm .banner-prof-rsm {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.menu-oge{
  padding:4px;
}

.prof-ism {
  flex: 1 0 auto;
  width: auto;
}

.prof-ism div:nth-child(1) {
  line-height: 20px;
}

.prof-ism div:nth-child(2) {
  color: #6a6f74;
  line-height: 20px;
}

.prof-btn-div {
  flex: 0 0 auto;
  width: max-content;
  text-align: end;
}

.pt-4px {
  padding-top: 4px;
}

.pt-12px {
  padding-top: 12px;
}

.py-4px {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-12px {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pb-12px {
  padding-bottom: 12px;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
}

.main-govde{
    width: 990px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
}
.govde {
  min-height: 100vh;
  width: 600px;
  border: 1px solid #2f3336;
  border-top: none;
}

.govde-bas {
  border-bottom: 1px solid #2f3336;
}

.govde-bs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 53px;
  background: rgba(22, 22, 22, 0.1);
  backdrop-filter: blur(4px);
  position: sticky;
  top: 0%;
}

.govde-bs div:nth-child(1) {
  flex: 1 0 auto;
  width: auto;
}

.govde-bs div:nth-child(2) {
  flex: 0 0 auto;
  width: max-content;
}

.editor-prof-rsm,
.tweet-prof-rsm,
.onr-prof-rsm {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editor-govde {
  flex: 1 0 auto;
  width: auto;
}

.editor-kitle-btn {
  color: #1d9bf0;
  border: 2px solid #2f3336;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.editor-kitle-btn span:nth-child(2) {
  line-height: 0%;
}

.editor-icerik {
  line-height: 24px;
  border: black solid;
  border-width: 2px;
}

.kmlr-cvp-icon {
  fill: #1d9bf0;
  height: 16px;
  width: 16px;
}

.kmlr-cvp-btn {
  color: #1d9bf0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.kmlr-cvp-div {
  border-bottom: 1px solid #2f3336;
}

.kmlr-cvp-btn span:nth-child(1) {
  line-height: 0%;
}

.kmlr-cvp-btn span:nth-child(2) {
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
}

.editor-son {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editor-son-btns {
  flex: 0 0 auto;
  width: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.editor-son-btns button {
  color: #1d9bf0;
  height: 36px;
  width: 36px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.editor-gndr {
  flex: 0 0 auto;
}

.editor-gndr-btn {
  background: #1d9bf0;
  border-radius: 2rem;
  height: 34px;
  font-weight: 600;
}

.kenar-cubugu {
  width: 350px;
  margin-right: 10px;
  position: sticky;
}

.clr-gr {
  color: #6a6f74;
}

.font-12 {
  font-size: 12px;
}
.font-15 {
  font-size: 15px;
}
.tweet {
  border-bottom: 1px solid #2f3336;
}

.tweet article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tweet-bas {
  flex: 0 0 auto;
  height: 12px;
  width: 100%;
}

.tweet-prof {
  flex: 0 0 auto;
  margin-right: 12px;
}

.tweet-govde {
  flex: 1 0 0%;

  display: flex;
  flex-direction: column;
}

.tweet-govde-bas {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tweet-klnc-isim {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tweet-klnc {
  margin-left: 4px;
  color: #585c60 !important;
  text-decoration: none !important;
}

.tweet-mn {
  color: #585c60;
}

.tweet-mn:hover {
  color: #1d9bf0;
}
.tweet-icerik {
  flex: 0 0 auto;
}
.tweet-son-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 425px;
}
.tweet-son-btns button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #585c60;
}

.tweet-son-btns svg {
  line-height: 0%;
}

.arama-cubugu-div {
  position: sticky;
  top: 0%;
  z-index: 1;
  background: black;
  height: 53px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.arama-cubugu {
  background: #202327;
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.arama-icon {
  flex: 0 0 auto;
  height: 44px;
  width: 44px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #6a6f74;
}

.arama-cubugu input {
  flex: 1 0 0%;
  color: white;
  line-height: 20px;
  font-size: 15px;
}

.trend-lis,
.takip-oneri {
  background: #16181c;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 16px;
}

.trend-lis h2 {
  line-height: 24px;
  margin: 0%;
}

.trend-p {
  padding: 12px 16px;
}

.trend-p{
   background-color: rgba(255, 255, 255, 0.1);
}

.trend-oge {
  position: relative;
}

.trend-oge-bas,
.trend-oge-son {
  font-size: 13px;
  color: #6a6f74;
}

.trend-oge-govde {
  font-size: 15px;
  line-height: 20px;
}

.trend-oge-menu {
  position: absolute;
  top: 1px;
  right: 0%;
}

.trend-oge-menu button {
  color: #6a6f74;
}

a.tweet-isim:hover {
  text-decoration: underline;
}

.son-menu {
  margin-bottom: 16px;
}
.son-menu > * {
  display: inline;
  font-size: 13px;
  line-height: 16px;
  padding-right: 12px;
  margin: 2px 0;
  color: #6a6f74;
}

.son-menu > div:nth-last-child(1) {
  display: block;
}

.dh-onr-btn {
  padding: 16px;
  color: #1d9bf0;
  font-size: 15px;
  line-height: 20px;
  display: block;
}

.takip-oneri-kisi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tkp-onr-prof {
  flex: 0 0 auto;
  margin-right: 12px;
}

.tkp-onr-klnism {
  flex: 1 0 0%;
}

.tkp-onr-btn {
  flex: 0 0 auto;
}

.tkp-onr-btn button {
  height: 32px;
  width: 87px;
  background: white;
  color: black;
  font-weight: 700;
  border-radius: 2rem;
  font-size: 15px;
  line-height: 20px;
}

.kenar-cubugu-govde {
  position: sticky;
  padding-top: 12px;
  padding-bottom: 64px;
}
